{%extends 'blog/base.html'%}

{%block content%}
<form method="post">
    {%csrf_token%}
    {{form.as_p}}
      <small>
        <a href="{% url 'register' %}">Register </a></br>
        <a href="{% url 'password_reset'%}">Forgotten Your Password</a>
    </small>

    <input type="submit" value="Login" class="btn btn-outline-success">
    <p>--OR--</p>
    <a href="{% url 'social:begin' 'google-oauth2' %}">
    <button type="button" name="button" class="btn btn-outline-primary"> Google</button>
        </a>
</form>

{% endblock %}